h2{
    text-align: center;
    padding: 10px;
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
   
}
