
.Seclect
{
    margin-bottom: 20px;
    margin-top: 20px;
}
.Glasses-sp div img:hover
{
    background-color: rgb(9, 9, 37);;
}
a
{
    color: black;
}
a:hover
{
    color: teal;
}
.Glasses-sp
{
    margin-bottom: 10px;
}
.Glasses-sp div p del
{
    color: red;
}
.Glasses-sp span
{
    font-size: 18px;
    font-weight: 800;
    font-family: cursive;
}
.Glasses-sp button
{
    width: 49% ;
    height: 30px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Glasses-sp button a:hover
{
    text-decoration: none;
    color: tomato;
    font-weight: 900;
    
}
.Glasses-sp button:hover
{
    color:teal ;
    
}
.color-product-1
{   
    
    background-color: white;
}
.color-product-2
{
   
    background-color: teal;
}
.color-product-3
{   
    
    background-color: red;
}
.color-product-4
{
   
    background-color: yellow;
}
.color-product-5
{
  
    background-color: royalblue;
}
.color-product-6
{
   
    background-color: slateblue;
}
.color-product-7
{
   
    background-color: violet;
}
.color-product-8
{
    
    background-color: tomato;
}
.color-product-9
{
   
    background-color: wheat;
}
.color-product-10
{
    
    background-color: mediumspringgreen;
}