.text{
    font-size: 15px;
    color: rgb(136, 58, 58);
  }
  #text-1{
    font-size: 18px;
    word-spacing: 0.5px;
    color:rgb(9, 219, 9);
  
  }
  
  .title-tab h3:before {
    height: 1px;
    width: 170px;
    background: #999999;
    display: inline-block;
    margin-top: 5px;
    content: "";
    position: relative;
    top: -5px;
    margin-right: 5px;
  }
  .title-tab h3:after {
    height: 1px;
    width: 170px;
    background: #999999;
    display: inline-block;
    margin-top: 5px;
    content: "";
    position: relative;
    top: -5px;
    margin-left: 5px;
  }
  